@font-face {
    font-family: "Afacad";
    src: url('./fonts/afacad/Afacad-VariableFont_wght.ttf');
}
@font-face {
    font-family: "Alegreya-sans";
    src: url('./fonts/alegreya-sans/AlegreyaSans-Regular.ttf');
}

@keyframes colorChange {
    0%{background-color: rgb(134, 161, 214);}
    25%{background-color: rgb(134, 170, 243);}
    50%{background-color: rgb(61, 104, 190);}
    75%{background-color: rgb(41, 72, 133);}
    100%{background-color: rgb(19, 34, 65);}
}

html{
    scroll-behavior: smooth;
}

body{
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    margin: 0;
    animation: colorChange 10s infinite alternate;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    margin: 0;
    display: flex;
    height: 3.5em;
    max-width: 100%;
    padding: 1em 10em;
    transition: 0.2s;
    z-index: 2;
    align-items: center;

    & h1{
        font-family: 'Afacad';
        margin: 0;
        font-weight: 100;
        font-size: 250%;

        & a{
            text-decoration: none;
            color: white;
        }
    }

    & .nav{
        display: flex;
        flex:1;
        justify-content: flex-end;

        & .myList{
            padding: 0;
            margin: 0;
            width: 60%;
            justify-content: space-around;
            list-style-type: none;
            gap: 50px;
            display: flex;
    
            & .listItem{

                & a{
                    text-decoration: none;
                    color: white;
                    font-family: 'Alegreya-sans';
                    font-size: 1.4em;
                }
            }
        }
    }
}

.img-phrase{
    padding: 0 2em;
    display: flex;
    align-items: flex-end;
    text-align: left;

    & h1{
        color: white;
        max-width: 7em;
        max-height: 5em;
        font-size: 7em;
        margin: 0;
        z-index: 1;
        font-family: 'Afacad';
    }

    & img{
        position: absolute;
        bottom: 0;
        width: 70rem;
        overflow: clip;
        z-index: 0;
    }
}

#sobre{
    position: relative;
    background-color: rgb(255, 255, 255);
    color: black;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 3em;
    padding-top: 3.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    font-family: "Alegreya-sans";

    & h1{
        font-family: 'Afacad';
        margin-top: 0;
    }

    & p {
        background-color: rgb(231, 229, 229);
    }
}

#conhecimentos{
    position: relative;
    background-color: rgb(255, 255, 255);
    color: black;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 3em;
    margin-top: 1em;
    padding-top: 3.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;

    & h1{
        font-family: 'Afacad';
        margin-top: 0;
    }
}

#projetos{
    position: relative;
    background-color: rgb(255, 255, 255);
    color: black;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 3em;
    margin-top: 1em;
    padding-top: 3.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;

    & h1{
        font-family: 'Afacad';
        margin-top: 0;
    }
}

#contato{
    position: relative;
    background-color: rgb(255, 255, 255);
    color: black;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 3em;
    margin-top: 1em;
    padding-top: 3.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    font-family: 'Alegreya-sans';

    & h1{
        margin-top: 0;
    }

    & a{
        color: black;
    }
}
.mainList{
    font-family: 'Alegreya-sans';
    list-style-type: none;
    padding-left: 0;

    & h4{
        margin-left: 0;
        margin-right: 0;
    }

    & .listItem{
        margin-left: 1em;
        background-color: rgb(231, 229, 229);
    }

    & .listSubItem{
        margin-left: 2em;
        background-color: rgb(231, 229, 229);
    }
}

.mainList2{
    font-family: 'Alegreya-sans';
    list-style-type: none;
    padding-left: 0;

    & h4{
        margin-left: 0;
        margin-right: 0;
    }

    & .listItem{
        margin-left: 0;
        background-color: rgb(231, 229, 229);
    }

    & .listSubItem{
        margin-left: 1em;
        background-color: rgb(231, 229, 229);

        & a{
            color: rgb(63, 145, 221);
        }
    }
}

.footer{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    align-items: center;
    font-family: 'Alegreya-sans';
    color:white;
    font-size: 200%;

    & h1{
        font-family: 'Afacad';
        font-weight: 100;
    }

    & a{
        color:white;
        text-decoration: none;
    }
}